<ol>
  <% QueueEntry.where(user: current_user).order(sequence: :asc).includes(:track).each do |entry| %>
    <li>
      <%= button_to 'x', entry,
        method: :delete,
        form_class: 'form-inline',
        data: { confirm: "Are you sure you want to remove \"#{entry.track.title}\" from your queue?" }
      %>
      <% if entry.track.image %>
        <%= image_tag entry.track.image, alt: nil, style: 'height: 1em; width: auto;' %>
      <% else %>
        <div style="display: inline; height: 1em; width: 1em;"></div>
      <% end %>
      <%= entry.track.title %>
    </li>
  <% end %>
</ol>
