// Place all the styles related to the Queue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.queue {
    list-style: none;
    padding-left: 0;
}

.queue-entry {
    margin: 8px;
    display: flex; 
    align-items: center;
}

.queue-entry__track-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 1.2; 
}

.queue-entry__track-title {

}

.queue-entry__track-details {
    font-size: 0.8rem;
}

.queue-entry__track-details a {
    color: #595959; 
}

.queue-entry-action {
    display: inline-block;
    font-size: 125%;
    text-decoration: none;
}

.queue-entry-action:hover {
    cursor: pointer;
    background-color: #aaa; 
}

.queue-entry-art {
    height: 2rem;
    margin: 0 1rem;
    width: auto;
    margin-top: 4px;
    vertical-align: bottom;
}