// Place all the styles related to the Queue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.queue {
    background-color: #eee;
}

.queue-entry {
    padding: 4px 0;
}

.queue-entry-action {
    background-color: #ccc;
    display: inline-block;
    font-size: 125%;
    text-decoration: none;
}

.queue-entry-action:hover {
    cursor: pointer;
    background-color: #aaa;
}

.queue-entry-art {
    height: 1.5em; 
    width: auto;
    margin-top: 4px;
    vertical-align: bottom;
}